<!-- navbar -->
<nav class="max-w-full bg-secondary h-20">
  <ul class="flex justify-center items-center h-full">
      <li class="mr-16">
          <a href="/" class="text-secondarytxt hover:font-semibold {{ 'font-semibold' if request.path == '/' else '' }}">Home</a>
      </li>
      <li class="mr-16">
          <a href="{{url_for('tutorial')}}" class="text-secondarytxt hover:font-semibold {{ 'font-semibold' if request.path == url_for('tutorial') else '' }}">Tutorial</a>
      </li>
      <li class="mr-16">
          <a href="{{url_for('about')}}" class="text-secondarytxt hover:font-semibold {{ 'font-semibold' if request.path == '/about' else '' }}">About</a>
      </li>
      <!-- <li class="mr-16">
        <a href="{{url_for('sentiment')}}" class="text-secondarytxt hover:font-semibold {{ 'font-semibold' if request.path == url_for('sentiment') else '' }}">Sentiment</a>
      </li> -->
      <li class="mr-16">
          <a href="{{url_for('credit')}}" class="text-secondarytxt hover:font-semibold {{ 'font-semibold' if request.path == '/credit' else '' }}">Credit</a>
      </li>
  </ul>
</nav>