<!-- navbar -->
<nav class="max-w-full bg-secondary h-20">
  <ul class="flex justify-center items-center h-full">
      <li class="mr-16">
          <a href="#" class="text-secondarytxt hover:font-semibold">Home</a>
      </li>
      <li class="mr-16">
          <a href="#" class="text-secondarytxt hover:font-semibold">Tutorial</a>
      </li>
      <li class="mr-16">
          <a href="#" class="text-secondarytxt hover:font-semibold">About</a>
      </li>
      <li class="mr-16">
          <a href="#" class="text-secondarytxt hover:font-semibold">Credit</a>
      </li>
  </ul>
</nav>