<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                'primary': '#42B549',
                'secondary': '#EFEEE5',
                'secondarytxt': '#838458',
              }
            }
          }
        }
      </script>
    <title>{% block title %}{% endblock title %}</title>

    {% block styles %}{% endblock styles %}
    {% block head_scripts %}{% endblock head_scripts %}
</head>

<body>
    <main>
        {% include "layouts/navbar.html" %}
        {% block content %}{% endblock content %}
    </main>

    {% block scripts %}{% endblock scripts %}
</body>

</html>